*{
    margin: 0%;
    padding: 0%;
}
.img-container{
    height: 100vh;
    width: 100%;
    background-image: url(pic2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes animate{
    0%{
        background-image: url(pic3.jpg);
    }
    20%{
        background-image: url(pic4.jpg);
    }
    40%{
        background-image: url(pic5.jpg);
    }
    80%{
        background-image: url(pic6.jpg);
    }
    100%{
        background-image: url(pic2.jpg);
    }
}