*{
    margin: 0%;
    padding: 0%;
}
 .img-container{
    height:98vh;
    position: relative;
    width: 100%;
    /* background-image: url(pic1.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 15s;
    animation-name: animate;
    /* animation-direction: alternate-reverse; */
    /* animation-play-state: running; */
    animation-timing-function: ease-in;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
/* @keyframes animate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  } */
.hero{
    height: 100vh;
    width: 100%;
}
@media(width<930px){
    .logo900px{
        position: absolute;
        top: 40vh;
        left: 1rem;
        display: block;
    }
    .first-logo{
        display: none;
    }
    .img-container{
        height: 510px;
    }
    .hero{
        height: 510px;
        width: 100%;
    }
    .para2{
        height: 300px;
        width: 100%;
    }
    .cele{
        font-size: large;
    }
    .cele1{
        font-size: medium;
    }
    .about-cele{
        font-size: small;
    }
    .about-cele1{
        font-size: small;
    }
}
@media(width<600px){
    .poster-container {
        display: flex;
        flex-wrap: wrap;
        gap:10px;
    }
    .poster{
        height: 30px;
        width: 66px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        object-position: center;
        object-fit: cover;
    }
    .img-container{
        height: 320px;
    }
    .hero{
        height: 325px;
        width: 100%;
    }
    .para2{
        height: 300px;
        width: 100%;
    }
    .cele{
        font-size: medium;
    }
    .cele1{
        font-size: small;
    }
    .about-cele{
        font-size: smaller;
    }
    .about-cele1{
        font-size: x-small;
    }
}
@media(width<600px){

    .poster-container {
        display: flex;
        flex-wrap: wrap;
        gap:10px;
    
    }
    .logo900px{
        display: none;
    }
    .logo900px1{
        display: none;
    }

    .poster{
        height: 15px;
        width: 34px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        object-position: center;
        object-fit: cover;
    }
    .img-container{
        height: 320px;
    }
    .hero{
        height: 325px;
        width: 100%;
    }
    .para2{
        height: 300px;
        width: 100%;
    }
    .cele{
        font-size: medium;
    }
    .cele1{
        font-size: small;
    }
    .about-cele{
        font-size: smaller;
    }
    .about-cele1{
        font-size: x-small;
    }
}

.logo{position: absolute;
    top: 80%;
    left: 1rem;
    height:100px;
    margin-left: 1rem;
    width: 400px;
}
.logo900px{
    position: absolute;
    top: 40vh;
    left: 2rem;
}
@media(min-width:900px){
    .logo900px2{
        display: none;
    }
    .logo900px{
        display: none;
    }
    .logo900px1{
        display: none;
    }
}
.logo900px2{
    position: fixed;
    top: 18vh;
    left: 1.5rem;
}
.first-logo{
    background-image: url(ghibli_logo_white-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:88vh;
    left: 2rem;
    height: 60px;
    width: 133px;
}
@media(width>600px){
    .logo900px2{
        display: none;
    }
}
.poster{
    height: 60px;
    width: 133px;
    object-position: center;
    object-fit: cover;
}
.logo-para{
    color: rgb(150, 146, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 20px;
}
.para2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #716844;
}
.cele{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.cele1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-bottom: 20px;

}
.about-cele{
    margin-top: .5rem;
    color: #EDE6CB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: medium;
    text-align: center;
}
.about-cele1{
    margin-top: 1rem;
    color: #EDE6CB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: medium;
    text-align: center;
}
.ticket{
    background-color: #2B2510;
    color: #ADA277;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding:14px 20px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.poster{
    height:297px ;
    width: 198px;
}
.poster-container {

    display: flex;
    flex-wrap: wrap;
    gap:20px;

}
main{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
}
/* footer page start */
.foot-para{
    background-color: #716844;
    text-align: center;
    color: #EDE6CB;
    height: 30vh;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
#input-email{
    padding: 0px 20px ;
    background-color: #ffffff;
    font-size: medium;
    height: 51px;
    width: 277px;
    border: none;
    margin-top: 20px;
}
.foot-btn{
    height: 51px;
    background-color: #2B2510;
    font-family: Arial, Helvetica, sans-serif;
    color: #a09568;
    width: 130px;
    font: 300;
    font-size: medium;
    border: none;
    margin-left: -3.5px;
}
.last-logo{
    background-color: #2B2510;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
.ghibli-logo{
    width: 88px;
    height: 39.5px;
    margin-right: 2rem;
}
.mad-logo{
    width: 100px;
    height: 27px;
    margin-left: 2rem;
}
#p-logo{
    font-family: cursive;
    color: wheat;
    font-weight: 300;
}